
        <link rel="stylesheet" href="/stylesheets/main.css">
        <h1>Welcome to Anilog!</h1>

        <form action="/" method="POST">
        <label for="title">Title</label>
        <input type="name" name="search" id="title">
        
        {{!-- <p>Select desired genres: </p>
        <fieldset class="checkbox-field">
            <input type="checkbox" name="genre_in" value="action" id="Action">
            <label for="Action">Action</label>

            <input type="checkbox" name="genre_in" value="adventure" id="Adventure">
            <label for="Adventure">Adventure</label>

            <input type="checkbox" name="genre_in" value="comedy" id="Comedy">
            <label for="Comedy">Comedy</label>

            <input type="checkbox" name="genre_in" value="drama" id="Drama">
            <label for="Drama">Drama</label>

            <input type="checkbox" name="genre_in" value="ecchi" id="Ecchi">
            <label for="Ecchi">Ecchi</label>

            <input type="checkbox" name="genre_in" value="fantasy" id="Fantasy">
            <label for="Fantasy">Fantasy</label>

            <input type="checkbox" name="genre_in" value="mahou shoujo" id="Mahou Shoujo">
            <label for="Mahou Shoujo">Mahou Shoujo</label>

            <input type="checkbox" name="genre_in" value="mecha" id="Mecha">
            <label for="Mecha">Mecha</label>

            <input type="checkbox" name="genre_in" value="music" id="Music">
            <label for="Music">Music</label>

            <input type="checkbox" name="genre_in" value="mystery" id="Mystery">
            <label for="Mystery">Mystery</label>

            <input type="checkbox" name="genre_in" value="" id="Psychological">
            <label for="Psychological">Psychological</label>

            <input type="checkbox" name="genre_in" value="psychological" id="Romance">
            <label for="Romance">Romance</label>

            <input type="checkbox" name="genre_in" value="sci-fi" id="Sci-Fi">
            <label for="Sci-Fi">Sci-Fi</label>

            <input type="checkbox" name="genre_in" value="slice of life" id="Slice of Life">
            <label for="Slice of Life">Slice of Life</label>

            <input type="checkbox" name="genre_in" value="sports" id="Sports">
            <label for="Sports">Sports</label>

            <input type="checkbox" name="genre_in" value="supernatural" id="Supernatural">
            <label for="Supernatural">Supernatural</label>

            <input type="checkbox" name="genre_in" value="thriller" id="Thriller">
            <label for="Thriller">Thriller</label>
        </fieldset> --}}
        
        <br/>

        <button type="submit" id="go">Go</button>    
        </form>

        <section id="search-results">

        </section>


    <script src="/scripts/main.js"></script>