<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <title>Anilog</title>
</head>
<body>
  <nav {{#if anime.bannerImage}} class="transparent" {{/if}}>
    <div class="logo">
      <span>Anilog</span>
    </div>
    <div class="main-nav">
      <a href="/">Browse</a>
      {{!-- <a href="/search">Browse</a> --}}
      {{#if currentUser}}
        <a href="/{{currentUser}}/lists">Lists</a>
        <a href="/{{currentUser}}/profile">Profile</a>
        {{!-- <a href="/{{currentUser}}/friends">Friends</a> --}}
      {{/if}}
    </div>
      <div class="secondary-nav">
        {{#unless currentUser}}
          <a href="/login" class="ui button">Login</a>
          <a href="/signup" class="ui primary button"><strong>Sign up</strong></a>
        {{/unless}}
        {{#if currentUser}}
          <a href="/logout" class="logout">Logout</a>
        {{/if}}
      </div>
  </nav>
        {{{body}}}
  <footer>
    <div class="footer-info">
      <span>Powered by <a href="https://github.com/AniList/ApiV2-GraphQL-Docs">AniList API.</a></span>
    </div>
    <div class="footer-links">
      {{!-- <a href="/about" target="_blank">About us</a> --}}
      <a href="https://github.com/bit-sahti/project2-anilog" target="_blank">GitHub</a>
    </div>
  </footer>
    
</body>
    

</html>