<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anilog</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Main</a></li>
            {{#unless currentUser}}
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/login">Log in</a></li>
            {{/unless}}
            
            {{#if currentUser}}
            <li><a href="/logout">Log out</a></li>
            {{/if}}
        </ul>
    </nav>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/scripts/api/mapper.js"></script>
    <script src="/scripts/api/frontApiHandler.js"></script>
        {{{body}}}

</body>
</html>