<link rel="stylesheet" href="stylesheets/login.css">

<section>
  <div>
    <h1>Login</h1>
  </div>
  <form action="/login" method="POST" class="ui massive form error">
    <div class="field">
      <input type="email" name="email" placeholder="Email">
    </div>

    <div class="field">
      <input type="password" name="password" placeholder="Password">
    </div>

    {{#if authError}}
      <div class="ui error message">
          <div class="header">{{authError}}</div>
      </div>
    {{/if}}

    <div class="btn field">
      <button class="ui blue button">Sign in</button>
    </div>
  </form>

  <div>
    <a href="/reset">Forgot your password?</a>
  </div>
  
</section>