<link rel="stylesheet" href="/stylesheets/errors.css">

<main>
    <div>
        <h1>Under construction</h1>
        <p>Sorry, this feature is not ready yet, but we will implement it soon.</p>
    </div>
</main>