/* Navbar */

.transparent {
    position: absolute;
    z-index: 10;
    width: 100%;
    background: hsla(235, 21%, 21%, 0.356);
    opacity: .7;
}

.transparent:hover {
    background-color: #2B2D42;
    opacity: 1;
}

/* Banner */

header {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 400px;
    flex-shrink: 0;
}

main {
    margin: 0;
    /* width: 100%; */
}

.no-banner {
    margin-top: 8rem;
}

/* Upper part (Main info) */

.main-info {    
    background-color: white;
}

.main-info .container,
.aditional-info {    
    margin: 0 auto;
    width: 85%;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 215px auto;
    /* border: 1px solid black; */
}

.main-info {
    margin-bottom: 2.5rem;
}

.main-info .container {
    min-height: 240px;
}

    /* Cover */

.cover {
    margin: 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.overlap {
    position: relative;
    margin-top: -125px;
    z-index: 15;
}

.no-overlap {
    margin: 3rem 0;
}

    /* List Activity */

#list-activity {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

#list-activity .huge.button{
    width: 160px;
}


/* #list-activity .heart {
    color: red;
} */

    /* Description */

.description {
    display: flex;
    align-items: center;
}

.text {
    min-width: 600px;
    /* max-width: 850px; */
}

.text .header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 3rem 0 2rem;
}

.genres span {
    border: 1px solid black;
}

.description p {
    margin-bottom: 3rem;
}

.description br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 1.5rem; /* change this to whatever height you want it */
}

/* Bottom part (aditional info) */

.aditional-info {
    grid-template-columns: 215px auto 215px;
}

.aditional-info .container > div {
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 5px;
    background-color: white;
}
    /* Details */

.details h6 {
    margin: 0;
    font-size: 1.3rem;
}

.details span {
    font-size: 1.1rem;
}

.synonyms span {
    display: inline-block;
    margin-bottom: .5rem;
}
    /* Tags */

.tags span.ui.button {
    margin-bottom: 1rem;
}

.ui.ui.ui.ui.small.button{
    font-size: 1.1rem;
}

    /* Creative staff  */
.creation.ui.cards .meta,
.creation.ui.cards .header {
    margin-bottom: 1rem;
}

.creation.ui.cards .card {
    border-radius: 5px;
}